
# llm variaveis
LLM_URL=https://generativelanguage.googleapis.com/v1beta/openai
LLM_CHAVE=sua-chave-do-gemini
LLM_MODELO=nome-do-modelo-flash-atual

# banco de dados
DB_HOST=localhost
DB_PORT=5433
DB_NAME=cvm
DB_USER=analista
DB_PASSWORD=escolha-uma-senha